# See documentation:
# https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Installation_Guide/s1-kickstart2-options.html
# We want to "install"
install

cdrom

# Set the language 
lang en_US.UTF-8

keyboard us
network --bootproto=dhcp

# Sets the root password because we do not want any prompt during installation (password)
rootpw changeme

firewall --enabled --service=ssh
authconfig --enableshadow --passalgo=sha512 --enablefingerprint
selinux --disabled
timezone UTC
bootloader --location=mbr

text
skipx
zerombr yes

auth  --useshadow  --enablemd5

clearpart --all --initlabel
part /boot --fstype ext3 --size=400
part pv.2 --size=5000 --grow
volgroup VolGroup00 --pesize=32768 pv.2
logvol / --fstype ext4 --name=LogVol00 --vgname=VolGroup00 --size=1024 --grow
logvol swap --fstype swap --name=LogVol01 --vgname=VolGroup00 --size=256 --grow --maxsize=512

reboot

# install only base packages and openssh
%packages --nobase
@core
openssh-clients
%end

